---
---

@import "jekyll-theme-minimal";

body {
  background-color: #000000;
  color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  color: #3399ff;
}

// This ensures the main container also turns black
.wrapper {
  background-color: #000000;
}

// This fixes the sidebar text/links
header p, header li {
  color: #bbb;
}