---
---

@import "jekyll-theme-minimal";

body {
  background-color: #000000;
  color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  color: #3399ff;
}

// This ensures the main container also turns black
.wrapper {
  background-color: #000000;
}

// This fixes the sidebar text/links
header p {
  color: #bbb;
  font-size: 18px;    /* Increase or decrease this number as needed */
  line-height: 1.4;   /* Adds a little space between lines if it wraps */
  font-weight: 500;   /* Optional: makes the text slightly thicker */
}